PORT=9999 
MONGODB_USER=<string> 
MONGODB_PASSWORD=<string> 
MONGODB_DATABASE=<string> 
MONGODB_URI_PROD=<string connection> 
MONGODB_URI_DEV=<string connection> 
JWT_SECRET=<hash> 
JWT_FRESH=<hash> 
EXEC_MODE=development | production
MONGODB_URI=${EXEC_MODE === 'production' ? MONGODB_URI_PROD : MONGODB_URI_DEV}
SEED_DEVELOPER=false | true
SEED_PRODUCTION=false | true
FRONTEND_ORIGINS=url,separated just by comas,no single quotes
ADMIN_PWORD=<string>
SUPERVISOR_PWORD=<string>
USER1_PWORD=<string>
#FOR FUTURE RELEASES
# JWT_ACCOUNT_ACTIVATION
# JWT_RESET_PASSWORDS
