PORT = 
MONGODB_USER = 
MONGODB_PASSWORD = 
MONGODB_DATABASE = 
MONGODB_URI_PROD = 
MONGODB_URI_DEV = 
JWT_SECRET = 
JWT_FRESH = 
EXEC_MODE = development | production
SEED_DEVELOPER = false
SEED_PRODUCTION = false
#FOR FUTURE RELEASES
# JWT_ACCOUNT_ACTIVATION
# JWT_RESET_PASSWORDS
